h1 {
  margin-top: 150px;
  text-align: center;
}

#layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#container {
  margin: auto;
  min-height: 65vh;
  max-height: 65vh;
  min-width: 65vh;
  max-width: 65vh;
  border: 3px solid black;
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 0px;
  background-image: url('../img/snake.png');
  background-size: cover;
  background-position: center;
}

.snake {
  background-color: brown;
}

.food {
  background-color: green;
}

#score,
#highscore {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 2em;
}

#scoreboard,
#buttonboard,
#gameboard {
  flex: 1;
}

#reset {
  text-align: center;
  margin: 20px auto;
  display: block;
  font-size: 1.5em;
  padding: 0 30px;
  display: none;
}

p {
  text-align: center;
}

ul {
  text-align: center;
}
