/* COLOUR SCHEME */
:root {
  --strong-color: #f23005;
  --mid-color: #f24f13;
  --light-color: #f28f6b;
  --dark-monochrome: #324759;
  --light-monochrome: #f2f2f2;
}

/*BASIC STYLES*/

body {
  background-color: var(--light-monochrome);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
}

main {
  width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: clamp(35px, 4vw, 90px);
  font-weight: bold;
  color: var(--dark-monochrome);
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

p {
  margin-bottom: 0px;
  line-height: 1.7rem;
}

a:visited {
  color: var(--light-color);
}

.basic-section {
  padding: 10vh 10vw;
  font-size: 1.5rem;
  text-align: center;
}

.basic-img {
  display: block;
  height: 40vh;
  width: auto;
  margin: 5vh auto;
}

/*WAVY SECTION DIVIDERS*/

.divider {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider1 {
  background-image: url('../img/layereddiv1.svg');
}

.divider2 {
  background-image: url(../img/layereddiv2.svg);
}

.divider3 {
  background-image: url(../img/layereddiv3.svg);
}

.divider4 {
  background-image: url(../img/layereddiv4.svg);
}

.divider5 {
  background-image: url(../img/layereddiv5.svg);
}

/* NAV-BAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  border-bottom: var(--mid-color) solid 3px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.2);
  padding: 0px 20vw 0px 20vw;
  background-color: #ffffff;
  z-index: 1;
}

nav > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: clamp(15px, 1.5vw, 25px);
  text-transform: uppercase;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: var(--light-color);
}

.nav-logo {
  width: auto;
  height: 100px;
}

/*HERO SECTION*/

#hero-section {
  height: calc(100vh - 100px);
  margin-top: 100px;
  background-image: url(../img/layereddiv1.svg), url(../img/crazypete.png);
  background-size: 100vw, 95vh;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20vw;
}

.blog-hero {
  margin-top: 150px;
  text-align: center;
}

.hero-column1 {
  position: relative;
  bottom: 20vh;
  margin: 5vw;
}

.hero-column2 {
  position: relative;
  bottom: 20vh;
  margin: 5vw;
}

.hero-column1 a {
  display: block;
  background-color: #590202;
  padding: 10px 20px;
  color: #fff;
  width: fit-content;
  margin-top: 30px;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.hero-column2 p {
  border-left: 3px solid #590202;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  width: fit-content;
}

#quote1 {
  position: relative;
  right: 6vw;
}

#quote3 {
  position: relative;
  left: 6vw;
}

#quote4 {
  position: relative;
  left: 12vw;
}

/*INDIVIDUAL SECTION STYLING */

#dark-blog {
  background-color: #590202;
  color: var(--light-monochrome);
}

.grey-section {
  background-color: var(--dark-monochrome);
  color: #fff;
}

.blog-grid,
.blog-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 8vh;
  gap: 10px;
}

.blog-item {
  border: #f24f13 2px solid;
  border-radius: 5px;
}

.grid-purple {
  border: #590202 2px solid;
}

.blog-grid a {
  text-decoration: none;
}

.grid-image {
  width: 5vw;
  height: auto;
}

.blog-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 0 100px 0;
}

#core-grid {
  margin-top: 150px;
}

footer {
  background-color: var(--dark-monochrome);
  padding: 5vh 5vw;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

footer li,
footer a {
  margin: 40px;
  text-decoration: none;
}

.social-icon {
  width: 3vw;
  height: auto;
}

/*HTML & CSS PAGE STYLING*/

#bx-example1 {
  text-decoration: overline underline;
  background-color: #f28f6b;
}

#bx-example2 {
  text-transform: lowercase;
  padding: 50px;
  background-color: var(--light-monochrome);
  color: green;
}

#bx-example3 {
  margin: 30px;
  border: 20px solid blue;
}

#bx-example4 {
  text-decoration: line-through;
  background-color: #f23005;
  border-radius: 50%;
  padding: 40px;
}

#bx-example6 {
  font-size: 10px;
  padding: 60px;
  border-radius: 20px;
  border: purple dashed 3px;
}

/*IDENTITY & VALUES PAGE STYLING*/

ol {
  text-align: left;
}

.bx-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

.strike {
  text-decoration: line-through;
}

/*DOM PAGE STYLING*/

.bracket {
  font-size: clamp(35px, 12vw, 180px);
  font-weight: bold;
  color: var(--dark-monochrome);
}

/* RESPONSIVE LAYOUT STYLING */

@media screen and (min-width: 3300px) {
  .hero-column1 {
    margin-left: 20vw;
  }
  .hero-column2 {
    margin-right: 10vw;
  }

  .basic-section {
    padding: 10vh 20vw;
  }
}
@media screen and (max-width: 2190px) {
  nav {
    padding: 0px;
  }

  .hero-column2 p {
    margin-bottom: 60px;
  }

  .hero-column2 {
    bottom: 10vh;
  }

  .basic-section {
    padding: 10vh 15vw;
  }
}

@media screen and (max-width: 1700px) {
  .hero-column2 {
    display: none;
  }
  .hero-column1 {
    margin-left: 20vw;
  }
  .basic-img {
    height: 30vw;
  }
  .blog-flex {
    flex-direction: column;
  }

  .blog-flex2 {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .hero-column1 {
    margin: 40vh 10vw 0 10vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 60px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-column1 a {
    margin-top: 70px;
  }

  h1 {
    text-align: center;
  }

  .nav-logo {
    width: auto;
    height: 70px;
  }

  #hero-section {
    display: block;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }

  .blog-grid2 {
    grid-template-columns: 1fr;
  }

  .grid-image {
    width: 15vw;
    height: auto;
  }

  footer {
    flex-direction: column;
  }

  footer li,
  footer a {
    margin: 5px;
    text-decoration: none;
  }

  .social-icon {
    width: 10vw;
  }
}
